In [1]:
import pandas as pd #importing pandas library as pd, like creating an instance of pandas

In [9]:
df_boxes = pd.read_csv('Datasets/boxes.csv') #importing box details datasets
df_problem1 = pd.read_csv('Datasets/problem 1.csv') #importing predict datasets
df_purchase = pd.read_csv('Datasets/purchase.csv') #importing history datasets

# <font color="red">First checking the boxes datasets, is it clean or not</font>

In [4]:
df_boxes.head() #checking collumn and head of datasets

   BOX_ID  QUALITY      DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0       1  Premium  Home Delivery - CoD   0.0   2.7        9.96
1       2  Premium  Home Delivery - CoD   0.0   2.3       11.96
2       3  Premium  Home Delivery - CoD   0.0   2.4       11.96
3       4  Premium  Home Delivery - CoD   0.0   2.5       11.96
4       5  Premium  Home Delivery - CoD   0.0   2.6       11.96

In [5]:
df_boxes.info() #checking some information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BOX_ID           290 non-null    int64
 1   QUALITY          290 non-null    object
 2   DELIVERY_OPTION  290 non-null    object
 3   MILK             290 non-null    float64
 4   MEAT             290 non-null    float64
 5   UNIT_PRICE       290 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 13.7+ KB

=> no null value found and 2 collumn are in object type

In [6]:
df_boxes.describe() #checking min, max, mean, quartile

           BOX_ID        MILK        MEAT  UNIT_PRICE
count  290.000000  290.000000  290.000000  290.000000
mean   145.500000    7.567586    2.248966   15.783655
std     83.860002    6.397381    1.151447    4.098064
min      1.000000    0.000000    0.000000    5.560000
25%     73.250000    0.000000    1.800000   12.825000
50%    145.500000    9.000000    2.300000   15.960000
75%    217.750000   12.000000    2.900000   19.980000
max    290.000000   24.000000    5.800000   23.980000

In [8]:
df_boxes['BOX_ID'].nunique()

290

=> so there are 1-290 box in total, no outlier here. full clean

# <font color="red">Checking Problem one dataset</font>

In [10]:
df_problem1.head()

     MAGIC_KEY
0  28D5BB06356
1  293BEAB4E98
2  2962EE8065C
3  2957BE29EA9
4  28E351A0745

In [11]:
df_problem1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58689 entries, 0 to 58688
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MAGIC_KEY  58689 non-null  object
dtypes: object(1)
memory usage: 458.6+ KB

=> so total 58689 MAGIC_KEY, we need to predict for them

# <font color="red">Checking Purchase history</font>

In [12]:
df_purchase.head()

  PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
0      1/2/2019  2CED678A247    12.0        1.0
1      1/2/2019  2BF58D91BA1    12.0        1.0
2      1/2/2019  2C15B86534E    99.0        1.0
3      1/2/2019  2C32D9A859A     6.0        1.0
4      1/2/2019  2C7A55404D1     4.0        1.0

In [14]:
df_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455864 entries, 0 to 2455863
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   PURCHASE_DATE  object
 1   MAGIC_KEY      object
 2   BOX_ID         float64
 3   BOX_COUNT      float64
dtypes: float64(2), object(2)
memory usage: 74.9+ MB

# <font color="red">Checking Null Value</font>

In [15]:
df_purchase.isnull().sum()

PURCHASE_DATE     0
MAGIC_KEY         0
BOX_ID           47
BOX_COUNT        47
dtype: int64

=> we have some null value, we need to fix these\
=> as we have enough large datasets, we can remove these row, no need to fill

In [16]:
len(df_purchase)

2455864

In [18]:
for x in df_purchase.columns: #running loop for reducing the code line
    df_purchase.dropna(subset = [x], inplace = True) #droping the row that present null value

In [19]:
len(df_purchase)

2455817

In [20]:
2455864-2455817

47

=> 47 row dropped

# <font color="red">Checking duplicate</font>

In [41]:
duplicates =  df_purchase[df_purchase.duplicated(keep='first')] #it will return the duplicated row from the datasets
len(duplicates)

77

In [42]:
df_purchase = df_purchase.drop_duplicates() #this method will return the dataset with no duplicate row
len(df_purchase)

2455740

# <font color="red">Checking outlier</font>

In [43]:
df_purchase.describe()

             BOX_ID     BOX_COUNT
count  2.455740e+06  2.455740e+06
mean   2.308848e+02  1.001112e+00
std    2.923375e+04  4.450451e-02
min    1.000000e+00 -1.000000e+00
25%    1.060000e+02  1.000000e+00
50%    1.430000e+02  1.000000e+00
75%    2.150000e+02  1.000000e+00
max    1.111111e+07  1.900000e+01

=> we have some outlier, need to fix these